@charset "UTF-8";
.bgc-orange {
  background-color: #f36e4b; }

.color-orange {
  color: #f36e4b; }

.bgc-blue {
  background-color: #23a1f1; }

.color-blue {
  color: #23a1f1; }

.color-white {
  color: #fff; }

.bgc-white {
  color: #fff; }

.width100 {
  width: 100%; }

.c-pointer {
  cursor: pointer; }

.text-under {
  text-decoration: underline; }

.po-relative {
  position: relative; }

h6 {
  font-size: 24px;
  text-transform: uppercase; }

.fontw-bold {
  font-weight: 700; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.pdlr-15 {
  padding: 0 15px; }

.mrt-0 {
  margin-top: 0; }

.mrl-0 {
  margin-left: 0; }

.mrr-0 {
  margin-right: 0; }

.mrb-0 {
  margin-bottom: 0; }

.mrb-10 {
  margin-bottom: 10px; }

.mrb-15 {
  margin-bottom: 15px; }

.mrt-25 {
  margin-top: 25px; }

.mrt-30 {
  margin-top: 30px; }

.mrt-35 {
  margin-top: 35px; }

.mrt-50 {
  margin-top: 50px; }

.mrt-60 {
  margin-top: 60px; }

.mrt-70 {
  margin-top: 70px; }

.mrt-80 {
  margin-top: 80px; }

.mrt-85 {
  margin-top: 85px; }

.pdb-20 {
  padding-bottom: 20px; }

.pdb-85px {
  padding-bottom: 85px; }

.first-header {
  position: relative;
  background: linear-gradient(to right, #2491d6, #87cbf5, #2491d6);
  padding: 10px 0; }
  .first-header .hcontact {
    color: #fff; }
  .first-header .usercon {
    color: #fff; }
    .first-header .usercon--signup, .first-header .usercon--signin {
      cursor: pointer; }

.hmenu {
  padding-top: 25px;
  height: 80px;
  float: right;
  margin-bottom: 0; }
  .hmenu li {
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 30px; }

.main-slide__fullwidth {
  width: 100%;
  height: auto; }
  .main-slide__fullwidth a {
    outline: none; }
  .main-slide__fullwidth img {
    width: 100%;
    height: auto;
    outline: none; }
.main-slide__controls {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  outline: none;
  border: 0; }
  .main-slide__controls i {
    font-size: 18px; }
.main-slide__next {
  right: 0;
  top: 38%;
  position: absolute; }
.main-slide__previous {
  right: 0;
  top: 52%;
  position: absolute;
  z-index: 10; }
.main-slide .slick-dots {
  position: absolute;
  bottom: 25px;
  left: 45%; }
  .main-slide .slick-dots li {
    margin: 0 5px; }
    .main-slide .slick-dots li button {
      background-color: #fff;
      font-size: 0;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      outline: none;
      border: 0; }
    .main-slide .slick-dots li.slick-active button {
      background-color: #f36e4b; }

.hfirst-row {
  position: relative; }
  .hfirst-row .bmenu > ul {
    z-index: 11;
    height: auto;
    width: 100%;
    bottom: -30px;
    position: absolute;
    left: 15px;
    border-radius: 10px;
    box-shadow: 0px 15px 10px 0 rgba(0, 0, 0, 0.15);
    list-style-image: url("../img/icon/discora.png");
    list-style-position: inside; }
    .hfirst-row .bmenu > ul li {
      display: list-item;
      padding: 10px 20px;
      height: 37px;
      background-color: #fff;
      width: 100%;
      border-bottom: 1px solid #eeeeee;
      position: relative; }
      .hfirst-row .bmenu > ul li img {
        position: absolute;
        top: -5px;
        left: 10px;
        z-index: 10;
        width: 30px;
        height: 50px;
        display: none; }
      .hfirst-row .bmenu > ul li i {
        color: #fff;
        position: absolute;
        right: 15px; }
      .hfirst-row .bmenu > ul li a {
        height: 100%;
        padding: 0 30px 0 10px;
        font-weight: 700;
        width: 80%; }
      .hfirst-row .bmenu > ul li:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom: 0;
        box-shadow: 0px 3px 0px 0px #E6E5E6; }
      .hfirst-row .bmenu > ul li:hover {
        background-color: #23a1f1; }
        .hfirst-row .bmenu > ul li:hover .bmenu--secon-ul {
          display: block; }
        .hfirst-row .bmenu > ul li:hover img {
          display: block; }
        .hfirst-row .bmenu > ul li:hover i {
          display: inline-block; }
        .hfirst-row .bmenu > ul li:hover > a {
          color: #fff; }
      .hfirst-row .bmenu > ul li .bmenu--secon-ul {
        position: absolute;
        max-width: 200px;
        left: 0;
        top: 0;
        height: auto;
        background-color: #fff;
        box-shadow: none;
        list-style: none;
        display: none; }
        .hfirst-row .bmenu > ul li .bmenu--secon-ul li:hover {
          color: #fff; }
        .hfirst-row .bmenu > ul li .bmenu--secon-ul li:last-child {
          border-radius: 0;
          box-shadow: none; }
  .hfirst-row .bmenu--tittle {
    color: #fff;
    font-weight: 700;
    background-image: linear-gradient(to bottom, #86c62c, #4e9c20);
    padding: 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 43px; }
    .hfirst-row .bmenu--tittle .first-star {
      transform: rotate(330deg);
      position: absolute;
      left: 10px; }
    .hfirst-row .bmenu--tittle .secon-star {
      position: absolute;
      right: 10px;
      transform: rotate(30deg); }
  .hfirst-row .search-bar__width {
    padding: 15px;
    z-index: 1;
    position: absolute;
    right: 15px;
    top: -25px;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0px 3px 0px 0px #E6E5E6;
    background-image: linear-gradient(to bottom, #f8f8f8, #fbfbfb, #f8f8f8); }
  .hfirst-row .search-bar__boxsha {
    background-color: transparent;
    z-index: 0;
    position: absolute;
    right: 15px;
    top: -25px;
    width: 100%;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0px 15px 10px 0 rgba(0, 0, 0, 0.15); }
  .hfirst-row .search-bar__border {
    border-radius: 10px;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    height: auto;
    position: relative; }
  .hfirst-row .search-bar__class {
    padding: 10px;
    border: 0;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 40%; }
  .hfirst-row .search-bar__subject {
    padding: 10px;
    border: 0;
    outline: none;
    width: 39%;
    border-left: 1px solid #ddd; }
  .hfirst-row .search-bar__btn {
    border-radius: 10px;
    font-weight: 700;
    background-image: linear-gradient(to bottom, #fef7c9, #ffe554);
    padding: 6px 10px;
    width: 20%;
    position: absolute;
    height: 100%;
    right: 0; }

.modal-connect--signup, .modal-connect--signin {
  position: fixed;
  height: 275px;
  max-width: 610px;
  overflow: hidden;
  top: 300px;
  left: 30%; }
  .modal-connect--signup .modal-content, .modal-connect--signin .modal-content {
    padding: 20px; }
.modal-connect__first {
  border-right: 1px solid #ddd;
  margin-top: 5px;
  padding: 15px 20px 5px 35px; }
  .modal-connect__first input {
    margin-bottom: 10px;
    padding: 17px 13px 15px; }
    .modal-connect__first input[type="checkbox"] {
      margin: 0 5px 0 20px; }
.modal-connect__secon {
  padding: 10px 0 10px 25px; }
  .modal-connect__secon p {
    margin-top: 15px; }
  .modal-connect__secon .btn {
    text-align: left;
    width: 75%;
    color: #fff;
    font-size: 13px;
    padding: 8px 12px 9px 9px; }
    .modal-connect__secon .btn i {
      border-right: 1px solid #c2c2c2;
      margin: -7px 10px -10px -5px;
      font-size: 16px;
      padding: 10px 15px 10px 10px; }
      .modal-connect__secon .btn i.fa-twitter {
        padding: 10px 10px 10px 8px; }
    .modal-connect__secon .btn.btn-face {
      background-color: #5c6f99; }
    .modal-connect__secon .btn.btn-twitch {
      background-color: #4ec0e9; }
.modal-connect__span, .modal-connect__link {
  color: #23a1f1;
  text-decoration: underline; }
.modal-connect__buttonf {
  background-image: linear-gradient(to bottom, #fef7c9, #ffe554);
  outline: none;
  border-radius: 10px;
  border: 2px solid #f6ca32;
  padding: 10px 50px; }

.course-exam {
  position: relative; }
  .course-exam--name {
    position: relative;
    font-size: 24px;
    font-weight: 700; }
    .course-exam--name a {
      position: absolute;
      right: 0;
      font-size: 14px;
      color: #23a1f0;
      font-weight: 400;
      top: 10px; }
  .course-exam--class {
    margin-top: 10px; }
  .course-exam--slide .slick-list {
    padding: 5px 0 20px; }
  .course-exam--item {
    height: auto;
    background-color: #fff;
    box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-bottom: 15px; }
    .course-exam--item img {
      width: 100%;
      height: auto; }
    .course-exam--item a {
      display: block; }
  .course-exam__name {
    margin-top: 18px;
    font-weight: 700; }
  .course-exam__teacher {
    color: #007dba;
    text-decoration: underline;
    font-size: 13px; }
  .course-exam__content {
    margin: 20px 0;
    font-size: 13px; }
  .course-exam__fee {
    color: #f36e4b;
    font-size: 13px; }
    .course-exam__fee span {
      font-weight: 700; }
  .course-exam__line {
    height: 1px;
    width: 100%;
    background-color: #e4e4e4;
    margin: 25px 0 20px; }
  .course-exam__green {
    color: #54a121;
    font-size: 13px; }
    .course-exam__green .fa-briefcase {
      margin-left: 20px; }
  .course-exam--img__left {
    position: absolute;
    bottom: 135px;
    left: -190px; }
  .course-exam--img__right {
    position: absolute;
    bottom: 95px;
    right: -200px; }

.hthird-row .course-exam--img__left {
  bottom: 90px; }
.hthird-row .course-exam--img__right {
  bottom: 40px; }

.hbook > .container {
  position: relative; }
.hbook--read {
  font-size: 24px;
  color: #fff;
  position: relative; }
  .hbook--read a {
    position: absolute;
    right: 0;
    top: 10px;
    color: #fff;
    font-size: 14px; }
.hbook--somebook {
  color: #fff;
  margin-top: 15px; }
.hbook--slide .slick-list {
  padding: 5px 0 20px; }
.hbook--item {
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 15px;
  box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.1); }
.hbook__img {
  width: 100%;
  text-align: center;
  background-color: #ccc;
  padding: 10px 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; }
  .hbook__img img {
    margin: 0 auto; }
.hbook__name {
  display: block;
  font-weight: 500;
  margin-top: 10px; }
.hbook__writer {
  text-decoration: underline;
  color: #007dba;
  font-size: 13px; }
.hbook__fee {
  color: #f36e4b;
  font-size: 13px;
  font-weight: 500;
  margin: 20px 0 0; }

.new-test--threediv {
  margin-bottom: 40px; }
.new-test--name {
  font-size: 24px;
  font-weight: bold;
  position: relative; }
  .new-test--name a {
    position: absolute;
    right: 0;
    font-size: 14px;
    color: #23a1f0;
    font-weight: 400;
    top: 10px; }
.new-test--tittle {
  margin: 10px 0 35px; }
.new-test__text {
  padding: 25px;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #ebebeb;
  position: relative; }
.new-test__text:after, .new-test__textx:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }
.new-test__text:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 20px;
  margin-left: -20px; }
.new-test__text:before {
  border-color: rgba(235, 235, 235, 0);
  border-top-color: #ebebeb;
  border-width: 21px;
  margin-left: -21px; }
.new-test__img {
  width: 60%;
  height: auto;
  padding: 30px 0;
  margin: 0 auto; }
  .new-test__img img {
    margin: 0 10px; }
  .new-test__img .user-name-add {
    margin-top: 10px; }
    .new-test__img .user-name-add .fontw-bold {
      margin-bottom: 5px; }
.new-test table {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  background-color: #f4f4f4;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.1); }
  .new-test table tr {
    border-top: 1px solid #eee; }
    .new-test table tr.color-white {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px; }
    .new-test table tr th {
      padding: 5px 10px; }
      .new-test table tr th.th-stt {
        border-top-left-radius: 10px; }
      .new-test table tr th.th-tai {
        border-top-right-radius: 10px; }
    .new-test table tr td {
      padding: 5px 10px; }

.money-learn {
  position: fixed;
  bottom: 10px;
  right: 20px; }
  .money-learn .item {
    text-align: center;
    border-radius: 50%;
    width: 107px;
    height: 107px;
    background: linear-gradient(to bottom, #97dc31, #53ab23);
    box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.1);
    padding: 33px 10px;
    margin-top: 20px; }
    .money-learn .item a {
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700; }

.book-detail {
  position: relative; }
  .book-detail--imgab {
    z-index: 0;
    position: absolute; }
    .book-detail--imgab.img1 {
      left: -200px;
      top: 195px; }
    .book-detail--imgab.img2 {
      right: -200px;
      top: 120px; }
    .book-detail--imgab.img3 {
      left: -200px;
      top: 10px; }
    .book-detail--imgab.img4 {
      right: -200px;
      top: 10px; }
  .book-detail--tittle {
    margin: 25px 0; }
  .book-detail--content {
    z-index: 3;
    width: 100%;
    height: 515px;
    border-radius: 10px;
    box-shadow: 0px 15px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #eeeeee;
    margin-bottom: 35px;
    padding: 30px;
    background-color: #fff;
    position: relative; }
  .book-detail__img {
    width: 45%;
    float: left; }
  .book-detail__left {
    float: left;
    width: 80px; }
  .book-detail__border {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    width: 80px;
    height: 80px;
    padding: 2px; }
    .book-detail__border img {
      width: 100%;
      height: 100%; }
  .book-detail__right {
    float: left;
    width: 80%;
    text-align: center; }
  .book-detail__text {
    height: 100%;
    border-left: 2px solid #f9f9f9;
    float: left;
    width: 55%; }
  .book-detail__name {
    border-bottom: 2px solid #f9f9f9;
    padding: 0 25px 15px 25px; }
    .book-detail__name .name-book {
      font-weight: 700;
      font-size: 18px; }
    .book-detail__name a {
      margin-left: 7px;
      color: #23a1f1;
      text-decoration: underline; }
  .book-detail__price {
    border-bottom: 2px solid #f9f9f9;
    padding: 25px; }
    .book-detail__price .fontw-bold {
      font-size: 18px;
      color: #e55630; }
    .book-detail__price p {
      color: #c0c0c0; }
  .book-detail__number .border-buy {
    display: inline-block;
    border: 1px solid #ccc;
    width: 115px;
    height: 35px; }
    .book-detail__number .border-buy .btn {
      padding: 7px 13px;
      background-color: transparent;
      outline: none;
      border: 0; }
    .book-detail__number .border-buy span {
      padding: 0 10px; }
  .book-detail__number .btn-buybook {
    background-image: linear-gradient(to bottom, #fef7c9, #ffe554);
    outline: none;
    border-radius: 10px;
    border: 1px solid #f6ca32;
    padding: 10px 80px;
    margin-left: 50px; }
  .book-detail__textcont {
    padding: 25px 10px 25px 25px; }
  .book-detail--social {
    position: absolute;
    top: 0;
    left: -63px;
    width: 60px;
    height: auto; }
    .book-detail--social .like {
      text-align: center;
      border: 1px solid #cee3f0;
      border-radius: 3px;
      font-size: 13px;
      padding: 3px 0;
      margin-bottom: 10px;
      cursor: pointer; }
      .book-detail--social .like.twitter-like {
        background-color: #d9e8f0;
        color: #2298ca; }
      .book-detail--social .like.facebook-like {
        color: #3b5998;
        background-color: #eceef5; }
      .book-detail--social .like.google-like {
        background: #e8e8e8;
        color: #166aee;
        font-weight: 700; }
    .book-detail--social .number {
      font-size: 13px;
      border-radius: 5px;
      padding: 5px 0;
      text-align: center;
      margin-bottom: 5px;
      position: relative;
      background: #fff;
      border: 1px solid #cee3f0; }
    .book-detail--social .number:after, .book-detail--social .number:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    .book-detail--social .number:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #fff;
      border-width: 5px;
      margin-left: -5px; }
    .book-detail--social .number:before {
      border-color: rgba(206, 227, 240, 0);
      border-top-color: #cee3f0;
      border-width: 6px;
      margin-left: -6px; }

.hbook-list .img3 {
  top: 600px; }
.hbook-list .img4 {
  top: 600px; }
.hbook-list--tittle {
  width: auto;
  float: left; }
.hbook-list--filter {
  margin: 25px 0;
  float: right;
  text-align: right; }
  .hbook-list--filter span {
    padding: 0 5px 0 10px;
    cursor: pointer; }
    .hbook-list--filter span.active {
      color: #23a1f1;
      font-weight: 700; }
  .hbook-list--filter p {
    width: auto;
    display: inline-block; }

.book-list {
  margin-bottom: 25px; }
  .book-list--pagination {
    width: 100%;
    text-align: center; }
    .book-list--pagination ul li a {
      margin: 0 3px; }

.cart-content {
  position: relative; }
  .cart-content--left {
    padding: 25px 25px 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 15px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #eeeeee; }
    .cart-content--left .hbook__img {
      width: 30%;
      border-radius: 0;
      float: left;
      margin-right: 20px; }
  .cart-content--text .book-detail__name {
    border: 0;
    padding-bottom: 10px; }
  .cart-content--text .book-detail__price {
    padding: 10px;
    padding-bottom: 20px; }
  .cart-content--text .book-detail__number {
    max-width: 150px;
    position: absolute;
    top: 80px;
    right: 60px; }
    .cart-content--text .book-detail__number i.fa-window-close {
      margin-left: 15px;
      color: #e55530;
      cursor: pointer; }
  .cart-content--right {
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 15px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #eeeeee; }
    .cart-content--right .float-right {
      color: red; }
    .cart-content--right p {
      margin-bottom: 15px; }
    .cart-content--right .btn-buybook {
      width: 80%;
      background-image: linear-gradient(to bottom, #fef7c9, #ffe554);
      outline: none;
      border-radius: 10px;
      border: 1px solid #f6ca32;
      padding: 10px; }

.news-detail {
  position: relative; }
  .news-detail--content {
    padding: 15px 25px 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #eeeeee;
    margin-bottom: 30px; }
    .news-detail--content h6 {
      font-size: 20px;
      font-weight: bold; }
  .news-detail__tag {
    margin: 25px 0 30px; }
    .news-detail__tag div {
      display: inline-block; }
    .news-detail__tag .item {
      background-color: #ebebeb;
      padding: 4px 6px;
      color: #959595;
      font-size: 13px; }
  .news-detail--semi {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #eeeeee;
    padding: 10px 10px 20px; }
    .news-detail--semi h6 {
      font-size: 16px;
      text-align: center; }
  .news-detail__img {
    float: left;
    width: 47%;
    margin-right: 3%; }
    .news-detail__img img {
      width: 100%;
      height: auto; }
  .news-detail__ctnews {
    width: 50%;
    float: left; }
    .news-detail__ctnews .fontw-nor {
      color: #e55630;
      margin: 5px 0 10px;
      font-weight: 500;
      font-size: 16px; }
  .news-detail--list {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #eeeeee;
    padding: 20px; }
    .news-detail--list input[type="search"] {
      width: 100%;
      border-radius: 20px;
      font-size: 13px;
      height: 32px; }
    .news-detail--list .btn-search {
      position: absolute;
      right: 20px;
      top: 20px;
      background: none;
      border: none;
      outline: none !important;
      color: #c0c0c0;
      border-radius: 45%; }
  .news-detail__titlist {
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px; }
  .news-detail__item {
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
    color: #23a1f1;
    font-weight: 500; }
    .news-detail__item::before {
      font-weight: bold;
      content: "•";
      font-size: 15px; }
    .news-detail__item.color-red {
      color: #f36e4b; }
    .news-detail__item:last-child {
      border: 0; }
  .news-detail__itemsecon {
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px; }
    .news-detail__itemsecon.color-red {
      color: #f36e4b; }
    .news-detail__itemsecon:last-child {
      border: 0; }

.course-detail--main {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #eeeeee;
  margin-bottom: 30px; }
  .course-detail--main h6 {
    font-size: 18px; }
.course-detail--contentvideo {
  width: 100%; }
.course-detail--video {
  width: 100%;
  padding: 0 10px; }
  .course-detail--video video {
    width: 100%;
    height: auto; }
.course-detail--li {
  border: 1px solid #ccc;
  display: list-item;
  border-radius: 10px;
  list-style: none;
  margin: 15px 0;
  position: relative; }
  .course-detail--li.active .course-detail--subul {
    display: block; }
  .course-detail--li.active .course-detail__ptittle {
    background: #23a1f1;
    color: #fff; }
    .course-detail--li.active .course-detail__ptittle .fa-chevron-down {
      display: none; }
    .course-detail--li.active .course-detail__ptittle .fa-chevron-up {
      display: inline-block; }
  .course-detail--li .course-detail__ptittle {
    background-color: #e3e3e3;
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: bold; }
    .course-detail--li .course-detail__ptittle i {
      position: absolute;
      right: 15px;
      top: 12px; }
    .course-detail--li .course-detail__ptittle .fa-chevron-up {
      display: none; }
.course-detail--subul {
  padding: 0 15px;
  display: none; }
  .course-detail--subul li {
    display: list-item;
    list-style: none;
    margin-top: 10px; }
    .course-detail--subul li .float-left {
      margin-left: 20px; }
    .course-detail--subul li .clearfix {
      border-bottom: 1px solid #ddd;
      margin-left: 20px; }
    .course-detail--subul li i {
      margin-right: 5px;
      color: #54a121; }
      .course-detail--subul li i.fa-play-circle {
        color: #23a1f1; }
    .course-detail--subul li:last-child .clearfix {
      border: 0; }
    .course-detail--subul li p.fontw-bold {
      cursor: pointer; }
      .course-detail--subul li p.fontw-bold:hover {
        text-decoration: underline; }
.course-detail--contentcomment {
  display: none;
  min-height: 200px; }
  .course-detail--contentcomment .no-comment {
    text-align: center;
    color: #9b9b9b;
    font-size: 16px;
    margin: 20px; }
.course-detail__textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  height: 80px; }
.course-detail__discuss .item {
  margin-top: 15px; }
  .course-detail__discuss .item .fontw-bold span {
    font-weight: 400; }
  .course-detail__discuss .item .comment-like {
    margin-right: 10px; }
  .course-detail__discuss .item .comment-answer {
    cursor: pointer; }
.course-detail--book-semi {
  position: relative; }
.course-detail__tittle {
  text-align: center; }
  .course-detail__tittle .text-tittle {
    width: 50%;
    margin: 0 auto; }
    .course-detail__tittle .text-tittle .div-border {
      font-weight: 700;
      float: left;
      padding: 0 0 5px 0;
      margin: 0 20px 15px;
      color: #cbcbcb;
      cursor: pointer; }
      .course-detail__tittle .text-tittle .div-border .div-line-h {
        width: 45px;
        margin: 0 auto;
        height: 1px;
        background-color: #ccc; }
      .course-detail__tittle .text-tittle .div-border.active {
        color: #000; }
.course-detail--buycourse {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #eeeeee;
  padding: 20px;
  margin-right: -15px; }
  .course-detail--buycourse .color-green {
    color: #54a121; }
    .course-detail--buycourse .color-green i {
      margin-right: 3px; }
    .course-detail--buycourse .color-green .float-left {
      font-weight: 500; }
  .course-detail--buycourse .price-course {
    margin-bottom: 5px; }
    .course-detail--buycourse .price-course .fontw-bold {
      font-size: 18px;
      color: #f36e4b; }
  .course-detail--buycourse .text-decoline {
    text-align: center;
    text-decoration: line-through;
    color: #c0c0c0; }
  .course-detail--buycourse .btn-regis {
    background-image: linear-gradient(to bottom, #fef7c9, #ffe554);
    width: 100%;
    outline: none !important;
    border-radius: 10px;
    border: 1px solid #f6ca32;
    padding: 10px;
    font-weight: 700;
    margin-top: 10px; }
  .course-detail--buycourse a {
    display: block;
    text-align: center;
    margin: 15px 0 20px;
    font-weight: 500;
    color: #23a1f1;
    cursor: pointer; }
  .course-detail--buycourse .btn-buybycode {
    background-image: linear-gradient(to bottom, #f47b5c, #e86744);
    width: 100%;
    outline: none !important;
    border-radius: 10px;
    border: 1px solid #cb5233;
    padding: 6px;
    font-weight: 700;
    color: #fff; }
    .course-detail--buycourse .btn-buybycode p {
      margin-bottom: 5px; }
.course-detail--teacher {
  margin-right: -15px;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #eeeeee; }
  .course-detail--teacher .img-teacher {
    max-width: 90px;
    max-height: 90px; }
    .course-detail--teacher .img-teacher img {
      width: 100%;
      height: auto; }
  .course-detail--teacher .text-teacher {
    margin-left: 10px;
    padding-top: 20px; }
    .course-detail--teacher .text-teacher p {
      margin-bottom: 5px; }
    .course-detail--teacher .text-teacher a {
      font-weight: 500;
      color: #23a1f1;
      text-decoration: underline; }
.course-detail--semi {
  margin-right: -15px;
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #eeeeee; }
  .course-detail--semi h6 {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px; }
  .course-detail--semi ul {
    list-style: none; }
    .course-detail--semi ul li {
      border-bottom: 1px solid #ccc;
      display: list-item;
      padding-bottom: 15px;
      margin-bottom: 15px; }
      .course-detail--semi ul li:last-child {
        border: 0;
        margin-bottom: 0; }
      .course-detail--semi ul li .img-coursesemi {
        max-width: 80px;
        max-height: 80px; }
        .course-detail--semi ul li .img-coursesemi img {
          width: 100%;
          height: auto; }
      .course-detail--semi ul li .text-coursesemi {
        margin-left: 10px;
        max-width: 238px; }
        .course-detail--semi ul li .text-coursesemi p {
          margin-bottom: 0px; }
        .course-detail--semi ul li .text-coursesemi a {
          display: block;
          font-weight: 500;
          color: #23a1f1;
          text-decoration: underline; }
        .course-detail--semi ul li .text-coursesemi .color-orange {
          font-weight: 700;
          margin-top: 10px; }

.course-list--select {
  padding: 10px 0 10px 10px;
  border-radius: 8px;
  width: 550px;
  height: 40px;
  border: 1px solid #ccc; }
  .course-list--select .item {
    width: 32%;
    padding: 0 5px;
    background-color: transparent;
    border: 0;
    border-left: 1px solid #ccc;
    outline: none; }
    .course-list--select .item:first-child {
      border-left: 0; }
.course-list--filter {
  padding-top: 35px; }
.course-list--item {
  margin-bottom: 30px; }

.m-navbar img {
  max-width: 120px;
  height: auto; }
.m-navbar--openmenu {
  color: #fff;
  font-size: 30px;
  padding: 10px 0; }
.m-navbar--user {
  color: #fff;
  font-size: 28px;
  padding: 10px 0; }
.m-navbar--modalmenu {
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20; }
.m-navbar--modalmenu {
  visibility: hidden;
  opacity: 0; }
.m-navbar--menu {
  width: 75%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 21; }
  .m-navbar--menu img {
    max-width: 140px;
    margin: 0 auto; }
  .m-navbar--menu .m-navbar--firstul {
    padding: 15px; }
    .m-navbar--menu .m-navbar--firstul li {
      text-transform: uppercase;
      display: list-item;
      list-style: none; }
      .m-navbar--menu .m-navbar--firstul li.firstli {
        padding: 6px 0;
        border-bottom: 1px solid #ccc; }
        .m-navbar--menu .m-navbar--firstul li.firstli:last-child {
          border: 0 !important; }
        .m-navbar--menu .m-navbar--firstul li.firstli .seconul .seconli {
          padding: 5px 10px 0; }
          .m-navbar--menu .m-navbar--firstul li.firstli .seconul .seconli .thirdul {
            display: none; }
            .m-navbar--menu .m-navbar--firstul li.firstli .seconul .seconli .thirdul li {
              text-transform: capitalize;
              padding: 5px 10px;
              border-bottom: 1px solid #ccc; }
              .m-navbar--menu .m-navbar--firstul li.firstli .seconul .seconli .thirdul li:last-child {
                margin-bottom: 5px; }

/*# sourceMappingURL=modules.css.map */
