@media all and (min-width: 992px) and (max-width: 1200px) {
  .main-slide__next {
    top: 37%; }
  .main-slide__previous {
    top: 54%; }

  .book-detail--content {
    z-index: 0;
    padding: 15px; }
  .book-detail__right {
    width: 100%; }
    .book-detail__right img {
      max-width: 90%;
      height: auto; } }
@media all and (min-width: 768px) and (max-width: 992px) {
  .main-slide__controls {
    width: 45px;
    height: 45px; }
    .main-slide__controls i {
      font-size: 17px; }
  .main-slide__next {
    top: 36%; }
  .main-slide__previous {
    top: 56%; }

  .money-learn .item {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    padding: 7px 4px; }
    .money-learn .item a {
      font-weight: 500;
      font-size: 12px; }

  .footer--img {
    display: none; }

  .book-detail--content {
    z-index: 0;
    padding: 15px; }
  .book-detail__right {
    width: 100%; }
    .book-detail__right img {
      max-width: 90%;
      height: auto; }
  .book-detail__name {
    padding: 0 10px 0px; }
    .book-detail__name .name-book {
      font-weight: 500;
      font-size: 16px; }
  .book-detail__price {
    padding: 10px 0 10px 10px; }
  .book-detail__number .border-buy {
    margin-bottom: 10px;
    display: block; }
  .book-detail__number .btn-buybook {
    padding: 10px 40px;
    display: block;
    margin: 0 auto;
    max-width: 100%; }
  .book-detail__textcont {
    padding: 10px; }

  .course-list .hbook-list--tittle {
    max-width: 100%; }
    .course-list .hbook-list--tittle p {
      max-width: 100%; }
  .course-list--select {
    max-width: 100%;
    font-size: 13px; }
  .course-list--filter {
    padding-top: 0; }
    .course-list--filter.hbook-list--filter {
      margin: 5px 0 10px; }

  .course-exam--item {
    padding-bottom: 5px; }
  .course-exam--name {
    font-weight: 500;
    margin-top: 10px; }
  .course-exam__content {
    margin: 10px 0; }
  .course-exam__line {
    margin: 0 0 10px 0; }

  .cart-content .book-detail__name {
    padding-bottom: 0; }
  .cart-content--left {
    padding: 10px;
    margin-bottom: 15px; }
    .cart-content--left .hbook__img {
      padding: 0 10px; }
      .cart-content--left .hbook__img img {
        max-width: 100%; }
  .cart-content__price {
    text-align: center; }
    .cart-content__price .book-detail__number .border-buy {
      display: inline-block !important;
      margin-right: 5px; }

  .course-detail--main h6 {
    font-size: 18px;
    margin: 5px 0 15px; }
  .course-detail .rep-pdl-0 {
    padding-left: 0; }

  .course-tittle-rep {
    margin: 10px 0;
    font-weight: 500; } }
@media all and (max-width: 768px) and (min-width: 480px) {
  .m-navbar img {
    max-width: 100px;
    height: auto; }
  .m-navbar--menu img {
    max-width: 100px;
    height: auto; }

  .course-exam--name {
    font-size: 18px; }
    .course-exam--name a {
      top: 0; }

  .hbook--read {
    font-size: 18px;
    margin-top: 30px; }
    .hbook--read a {
      top: 0; }

  .new-test--name {
    margin-top: 40px;
    font-size: 18px; }
    .new-test--name a {
      top: 0; }
  .new-test table {
    margin-bottom: 5px; }

  .money-learn .item {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    padding: 7px 4px; }
    .money-learn .item a {
      font-weight: 500;
      font-size: 12px; }

  footer {
    padding: 30px 15px !important;
    text-align: center; }

  .footer--img {
    display: none; }

  .modal-connect__first {
    border-right: 0;
    padding: 5px; }
  .modal-connect__secon {
    padding: 5px; }
    .modal-connect__secon p {
      margin: 10px 0; }
    .modal-connect__secon .btn {
      width: 100%; }
  .modal-connect__buttonf {
    width: 100%; }
  .modal-connect--signin {
    top: 80px;
    width: 85%;
    height: auto; }
  .modal-connect--signup {
    top: 80px;
    width: 85%;
    height: auto; }

  .hbook-list--tittle {
    margin: 10px 0; }
  .hbook-list--filter {
    margin: 10px 0; }

  .book-list--pagination {
    margin-bottom: 10px; }

  .book-detail--content {
    z-index: 0;
    padding: 15px; }
  .book-detail__right {
    width: 100%; }
    .book-detail__right img {
      max-width: 90%;
      height: auto; }
  .book-detail__name {
    padding: 0 10px 0px; }
    .book-detail__name .name-book {
      font-weight: 500;
      font-size: 16px; }
  .book-detail__price {
    padding: 10px 0 10px 10px; }
    .book-detail__price p {
      margin-bottom: 5px; }
      .book-detail__price p .fontw-bold {
        font-size: 15px; }
  .book-detail__number .border-buy {
    margin-bottom: 10px;
    display: block; }
  .book-detail__number .btn-buybook {
    padding: 10px 40px;
    display: block;
    margin: 0 auto;
    max-width: 100%; }
  .book-detail__textcont {
    padding: 10px; }

  .course-list .hbook-list--tittle {
    max-width: 100%; }
    .course-list .hbook-list--tittle p {
      max-width: 100%; }
  .course-list--select {
    max-width: 100%;
    font-size: 13px; }
  .course-list--filter {
    padding-top: 0; }
    .course-list--filter.hbook-list--filter {
      margin: 5px 0 10px; }

  .course-exam--item {
    padding-bottom: 5px; }
  .course-exam--name {
    font-weight: 500;
    margin-top: 10px; }
  .course-exam__content {
    margin: 10px 0; }
  .course-exam__line {
    margin: 0 0 10px 0; }

  .cart-content .book-detail__name {
    padding-bottom: 0; }
  .cart-content--left {
    padding: 10px;
    margin-bottom: 15px; }
    .cart-content--left .hbook__img {
      padding: 0 10px; }
      .cart-content--left .hbook__img img {
        max-width: 100%; }
  .cart-content__price {
    text-align: center; }
    .cart-content__price .book-detail__number .border-buy {
      display: inline-block !important;
      margin-right: 5px; }

  .course-detail--main h6 {
    font-size: 16px;
    margin: 5px 0 15px; }
  .course-detail__tittle .text-tittle {
    width: 60%; }
  .course-detail .rep-pdl-0 {
    padding-left: 0; }

  .course-tittle-rep {
    margin: 10px 0;
    font-weight: 500; } }
@media all and (max-width: 480px) and (min-width: 321px) {
  .m-navbar img {
    max-width: 80px;
    height: auto; }
  .m-navbar--menu img {
    max-width: 80px;
    height: auto; }

  .course-exam--name {
    font-size: 16px; }
    .course-exam--name a {
      top: 0; }

  .hbook--read {
    font-size: 16px;
    margin-top: 30px; }
    .hbook--read a {
      top: 0; }

  .new-test--name {
    margin-top: 40px;
    font-size: 16px; }
    .new-test--name a {
      top: 0; }
  .new-test table {
    margin-bottom: 5px; }

  .money-learn .item {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    padding: 7px 4px; }
    .money-learn .item a {
      font-weight: 500;
      font-size: 12px; }

  .a-see-all {
    display: block;
    position: relative !important; }

  .footer--img {
    display: none; }

  .footer {
    padding: 30px 15px !important;
    text-align: center; }
    .footer--end {
      padding: 0 15px;
      margin-top: 10px; }

  .modal-connect__first {
    border-right: 0;
    padding: 5px; }
  .modal-connect__secon {
    padding: 5px; }
    .modal-connect__secon p {
      margin: 5px 0; }
    .modal-connect__secon .btn {
      width: 100%; }
  .modal-connect__buttonf {
    width: 100%; }
  .modal-connect--signin {
    top: 80px;
    width: 85%;
    height: auto; }
  .modal-connect--signup {
    top: 80px;
    width: 85%;
    height: auto; }

  .hbook-list--tittle {
    margin: 10px 0; }
  .hbook-list--filter {
    margin: 10px 0; }

  .book-list--pagination {
    margin-bottom: 10px; }

  .book-detail--content {
    z-index: 0;
    padding: 15px;
    height: auto; }
  .book-detail__img {
    width: 100%; }
  .book-detail__right {
    width: 100%; }
    .book-detail__right img {
      max-width: 125px;
      height: auto; }
  .book-detail__text {
    border-left: 0;
    width: 100%; }
  .book-detail__name {
    padding: 0 10px 0px; }
    .book-detail__name .name-book {
      font-weight: 500;
      font-size: 16px;
      margin-top: 10px; }
  .book-detail__price {
    padding: 10px 0 10px 10px; }
    .book-detail__price p {
      margin-bottom: 5px; }
      .book-detail__price p .fontw-bold {
        font-size: 15px; }
  .book-detail__number .border-buy {
    margin-bottom: 10px;
    display: block; }
  .book-detail__number .btn-buybook {
    padding: 10px 40px;
    display: block;
    margin: 0 auto;
    max-width: 100%; }
  .book-detail__textcont {
    padding: 10px;
    font-size: 13px; }

  .course-list .hbook-list--tittle {
    max-width: 100%; }
    .course-list .hbook-list--tittle p {
      max-width: 100%; }
  .course-list--select {
    max-width: 100%;
    font-size: 13px; }
  .course-list--filter {
    padding-top: 0; }
    .course-list--filter.hbook-list--filter {
      margin: 5px 0 10px; }

  .course-exam--item {
    padding-bottom: 5px; }
  .course-exam--name {
    font-weight: 500;
    margin-top: 10px; }
  .course-exam__content {
    margin: 10px 0; }
  .course-exam__line {
    margin: 0 0 10px 0; }

  .cart-content .book-detail__name {
    padding-bottom: 0; }
  .cart-content--left {
    padding: 10px;
    margin-bottom: 15px; }
    .cart-content--left .hbook__img {
      padding: 0 10px; }
      .cart-content--left .hbook__img img {
        max-width: 100%; }
  .cart-content__price {
    text-align: center; }
    .cart-content__price .book-detail__number .border-buy {
      display: inline-block !important;
      margin-right: 5px; }

  .course-detail--main h6 {
    font-size: 16px;
    margin: 5px 0 15px; }
  .course-detail__tittle .text-tittle {
    width: 100%; }
  .course-detail .rep-pdl-0 {
    padding-left: 0; }
  .course-detail .course-detail--book-semi {
    margin-top: 20px; }
    .course-detail .course-detail--book-semi h6 {
      font-size: 20px; }

  .img-coursesemi {
    width: 30% !important; }

  .text-coursesemi {
    width: 65% !important; }

  .course-tittle-rep {
    margin: 10px 0;
    font-weight: 500; }

  .course-detail--book-semi h6 {
    font-size: 20px;
    margin-top: 10px; } }
@media all and (max-width: 320px) {
  .m-navbar img {
    max-width: 80px;
    height: auto; }
  .m-navbar--menu img {
    max-width: 80px;
    height: auto; }

  .course-exam--name {
    font-size: 16px; }
    .course-exam--name a {
      top: 0; }

  .hbook--read {
    font-size: 16px;
    margin-top: 30px; }
    .hbook--read a {
      top: 0; }

  .new-test--name {
    margin-top: 40px;
    font-size: 16px; }
    .new-test--name a {
      top: 0; }
  .new-test table {
    margin-bottom: 5px; }

  .money-learn .item {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    padding: 7px 4px; }
    .money-learn .item a {
      font-weight: 500;
      font-size: 12px; }

  .a-see-all {
    display: block;
    position: relative !important; }

  .modal-connect__first {
    border-right: 0;
    padding: 5px; }
  .modal-connect__secon {
    padding: 5px; }
    .modal-connect__secon p {
      margin: 5px 0; }
    .modal-connect__secon .btn {
      width: 100%; }
  .modal-connect__buttonf {
    width: 100%; }
  .modal-connect--signin {
    top: 80px;
    width: 85%;
    height: auto; }
  .modal-connect--signup {
    top: 80px;
    width: 85%;
    height: auto; }

  .hbook-list--tittle {
    margin: 10px 0; }
  .hbook-list--fillter {
    margin: 10px 0; }

  .book-list--pagination {
    margin-bottom: 10px; }

  .footer--img {
    display: none; }

  .footer {
    padding: 30px 15px !important;
    text-align: center; }
    .footer--end {
      padding: 0 15px;
      margin-top: 10px; }

  .book-detail--content {
    z-index: 0;
    padding: 15px;
    height: auto; }
  .book-detail__img {
    width: 100%; }
  .book-detail__right {
    width: 100%; }
    .book-detail__right img {
      max-width: 125px;
      height: auto; }
  .book-detail__text {
    border-left: 0;
    width: 100%; }
  .book-detail__name {
    padding: 0 10px 0px; }
    .book-detail__name .name-book {
      font-weight: 500;
      font-size: 16px;
      margin-top: 10px; }
  .book-detail__price {
    padding: 10px 0 10px 10px; }
    .book-detail__price p {
      margin-bottom: 5px; }
      .book-detail__price p .fontw-bold {
        font-size: 15px; }
  .book-detail__number .border-buy {
    margin-bottom: 10px;
    display: block; }
  .book-detail__number .btn-buybook {
    padding: 10px 40px;
    display: block;
    margin: 0 auto;
    max-width: 100%; }
  .book-detail__textcont {
    padding: 10px;
    font-size: 13px; }

  .course-list .hbook-list--tittle {
    max-width: 100%; }
    .course-list .hbook-list--tittle p {
      max-width: 100%; }
  .course-list--select {
    max-width: 100%;
    font-size: 13px; }
  .course-list--filter {
    padding-top: 0; }
    .course-list--filter.hbook-list--filter {
      margin: 5px 0 10px; }

  .course-exam--item {
    padding-bottom: 5px; }
  .course-exam--name {
    font-weight: 500;
    margin-top: 10px; }
  .course-exam__content {
    margin: 10px 0; }
  .course-exam__line {
    margin: 0 0 10px 0; }

  .news-detail--content {
    padding: 15px; }
    .news-detail--content h6 {
      font-size: 15px;
      margin-top: 0; }
  .news-detail--semi {
    margin-bottom: 15px; }

  .cart-content .book-detail__name {
    padding-bottom: 0; }
  .cart-content--left {
    padding: 10px;
    margin-bottom: 15px; }
    .cart-content--left .hbook__img {
      padding: 0 10px; }
      .cart-content--left .hbook__img img {
        max-width: 100%; }
  .cart-content__price {
    text-align: center; }
    .cart-content__price .book-detail__number .border-buy {
      display: inline-block !important;
      margin-right: 5px; }

  .course-detail--main h6 {
    font-size: 16px;
    margin: 5px 0 15px; }
  .course-detail__tittle .text-tittle {
    width: 100%; }
  .course-detail .rep-pdl-0 {
    padding-left: 0; }

  .course-tittle-rep {
    margin: 10px 0;
    font-weight: 500; }

  .img-coursesemi {
    width: 30% !important; }

  .text-coursesemi {
    width: 65% !important; }

  .course-detail__tittle .text-tittle .div-border {
    margin-right: 10px; }

  .course-detail--book-semi {
    margin-top: 20px; }
    .course-detail--book-semi h6 {
      font-size: 20px; } }

/*# sourceMappingURL=responsive.css.map */
