@import "mixin";
@import "variable";
.first-header{
  background: linear-gradient(to right, #2491d6 ,#87cbf5, #2491d6);
  padding: 10px 0;
  .hcontact{
    color: #fff;
  }
  .usercon{
    color: #fff;
    &--signup,&--signin{
      cursor: pointer;
    }
  }
}

.hmenu{
  padding-top: 25px;
  height: 80px;
  float: right;
  margin-bottom: 0;
  li{
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 30px;

  }
}

.main-slide{
  &__fullwidth{
    width: 100%;
    height: auto;
    a{
      outline: none;
    }
    img{
      width: 100%;
      height: auto;
      outline: none;
    }
  }
  &__controls{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    outline: none;
    border: 0;
    i{
      font-size: 18px;
    }
  }
  &__next{
    right: 0;
    top: 38%;
    position: absolute;
  }
  &__previous{
    right: 0;
    top:  52%;
    position: absolute;
    z-index: 10;
  }
  .slick-dots{
    position: absolute;
    bottom: 25px;
    left: 45%;
    li{
      margin: 0 5px;
      button{
        background-color: #fff;
        font-size: 0;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        outline: none;
        border: 0;
      }
      &.slick-active{
        button{
          background-color: $color-orange;
        }
      }
    }
  }
}

.hfirst-row{
  position: relative;
  .bmenu {

    &>ul {
      z-index: 11;
      height: auto;
      width: 100%;
      bottom: -30px;
      position: absolute;
      left: 15px;
      border-radius: 10px;
      box-shadow: 0px 15px 10px 0 rgba(0, 0, 0, 0.15);
      list-style-image: url('../img/icon/discora.png');
      list-style-position: inside;
      li {
        display: list-item;
        padding: 10px 20px;
        height: 37px;
        background-color: #fff;
        width: 100%;
        border-bottom: 1px solid #eeeeee;
        position: relative;
        img{
          position: absolute;
          top: -5px;
          left: 10px;
          z-index: 10;
          width: 30px;
          height: 50px;
          display: none;
        }
        i{
          color: #fff;
          position: absolute;
          right: 15px;
          //display: none;
        }
        a{
          height: 100%;
          padding: 0 30px 0 10px;
          font-weight: 700;
          width: 80%;
        }
        &:last-child {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          border-bottom: 0;
          box-shadow: 0px 3px 0px 0px #E6E5E6;
        }
        &:hover{
          background-color: $color-blue;
          .bmenu--secon-ul{
            display: block;
          }
          img{
            display: block;
          }
          i{
            display: inline-block;
          }
          &>a{
            color: #fff;
          }
        }
        .bmenu--secon-ul{
          position: absolute;
          max-width: 200px;
          left: 0;
          top: 0;
          height: auto;
          background-color: #fff;
          box-shadow: none ;
          list-style: none;
          display: none;
          li:hover{
            color: #fff;
          }
          li:last-child{

            border-radius: 0;
            box-shadow: none ;

          }
        }
      }
    }
    &--tittle {
      color: #fff;
      font-weight: 700;
      background-image: linear-gradient(to bottom, #86c62c, #4e9c20);
      padding: 12px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 43px;
      .first-star {
        transform: rotate(330deg);
        position: absolute;
        left: 10px;
      }
      .secon-star {
        position: absolute;
        right: 10px;
        transform: rotate(30deg);
      }
    }
  }
  .search-bar{
    &__width{
      padding: 15px;
      z-index: 1;
      position: absolute;
      right: 15px;
      top: -25px;
      width: 100%;
      height: 70px;
      //border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0px 3px 0px 0px #E6E5E6;
      background-image: linear-gradient(to bottom, #f8f8f8, #fbfbfb, #f8f8f8);
    }
    &__boxsha{
      background-color: transparent;
      z-index: 0;
      position: absolute;
      right: 15px;
      top: -25px;
      width: 100%;
      height: 70px;
      border-radius: 10px;
      box-shadow: 0px 15px 10px 0 rgba(0, 0, 0, 0.15);
    }
    &__border{
      border-radius: 10px;
      border: 1px solid #e1e1e1;
      background-color: #fff;
      height: auto;
      position: relative;
    }
    &__class{
      padding: 10px;
      border: 0;
      outline: none;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      width: 40%;
    }

    &__subject{
      padding: 10px;
      border: 0;
      outline: none;
      width: 39%;
      border-left: 1px solid #ddd;
    }
    &__btn{
      //background-color: #fff;
      border-radius: 10px;
      font-weight: 700;
      background-image: linear-gradient(to bottom, #fef7c9, #ffe554);
      padding: 6px 10px;
      width: 20%;
      position: absolute;
      height: 100%;
      right: 0;
    }
  }
}

//modal dang nhap dang ky
.modal-connect{
  &--signup, &--signin{
    position: fixed;
    height: 275px;
    max-width: 610px;
    overflow: hidden;
    top: 300px;
    left: 30%;
    .modal-content{
      padding: 20px;
    }
  }
  &__first{
    border-right: 1px solid #ddd;
    margin-top: 5px;
    padding: 15px 20px 5px 35px;
    input{
      margin-bottom: 10px;
      padding: 17px 13px 15px;
      &[type="checkbox"]{
        margin: 0 5px 0 20px;
      }
    }
  }
  &__secon{
    padding: 10px 0 10px 25px;
    p{
      margin-top: 15px;
    }
    .btn{
      text-align: left;
      width: 75%;
      color: #fff;
      font-size: 13px;
      padding: 8px 12px 9px 9px;
      i{
        border-right: 1px solid #c2c2c2;
        margin: -7px 10px -10px -5px;
        font-size: 16px;
        padding: 10px 15px 10px 10px;
        &.fa-twitter{
          padding: 10px 10px 10px 8px;
        }
      }
      &.btn-face{
        background-color: #5c6f99;
      }
      &.btn-twitch{
        background-color: #4ec0e9;
      }
    }
  }
  &__span, &__link{
    color: $color-blue;
    text-decoration: underline;
  }
  &__buttonf{
    background-image: linear-gradient(to bottom, #fef7c9, #ffe554);
    outline: none;
    border-radius: 10px;
    border: 2px solid #f6ca32;
    padding:10px 50px;
  }
}

.course-exam{
  position: relative;
  &--name{
    position: relative;
    font-size: 24px;
    font-weight: 700;
    a{
      position: absolute;
      right: 0;
      font-size: 14px;
      color: #23a1f0;
      font-weight: 400;
      top: 10px;
    }
  }
  &--class{
    margin-top: 10px;
  }
  &--slide{
    .slick-list{
      padding: 5px 0 20px;
    }
  }
  &--item{
    height: auto;
    background-color: #fff;
    box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-bottom: 15px;
    img{
      width: 100%;
      height: auto;
    }
    a{
      display: block;
    }
  }
  &__name{
    margin-top: 18px;
    font-weight: 700;
  }
  &__teacher{
    color: #007dba;
    text-decoration: underline;
    font-size: 13px;
  }
  &__content{
    margin: 20px 0;
    font-size: 13px;
  }
  &__fee{
    color: #f36e4b;
    font-size: 13px;
    span{
      font-weight: 700;
    }
  }
  &__line{
    @include line-h(#e4e4e4, 100%);
    margin: 25px 0 20px;
  }
  &__green{
    color: #54a121;
    font-size: 13px;
    .fa-briefcase{
      margin-left: 20px;
    }
  }
  &--img__left{
    position: absolute;
    bottom: 135px;
    left: -190px;
  }
  &--img__right{
    position: absolute;
    bottom: 95px;
    right: -200px;
  }
}

.hthird-row{
  .course-exam--img__left{
    bottom: 90px;
  }
  .course-exam--img__right{
    bottom: 40px;
  }
}

//BOOK  -  HOME
.hbook{
  &>.container{
    position: relative;
  }
  &--read{
    font-size: 24px;
    color: #fff;
    position: relative;
    a{
      position: absolute;
      right: 0;
      top: 10px;
      color: #fff;
      font-size: 14px;
    }
  }
  &--somebook{
    color: #fff;
    margin-top: 15px;
  }
  &--slide{
    .slick-list{
      padding: 5px 0 20px;
    }
  }
  &--item{
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 15px;
    box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.1);
  }
  &__img{
    width: 100%;
    text-align: center;
    background-color: #ccc;
    padding: 10px 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    img{
      margin: 0 auto;
    }
  }
  &__name{
    display: block;
    font-weight: 500;
    margin-top: 10px;
  }
  &__writer{
    text-decoration: underline;
    color: #007dba;
    font-size: 13px;
  }
  &__fee{
    color: #f36e4b;
    font-size: 13px;
    font-weight: 500;
    margin: 20px 0 0;
  }
}

//
.new-test{
  &--threediv{
    margin-bottom: 40px;
  }
  &--name{
    font-size: 24px;
    font-weight: bold;
    position: relative;
    a{
      position: absolute;
      right: 0;
      font-size: 14px;
      color: #23a1f0;
      font-weight: 400;
      top: 10px;
    }
  }
  &--tittle{
    margin: 10px 0 35px;
  }
  &__text{
    padding: 25px;
    border-radius: 10px;
    background-color: #ffffff;
    border: solid 1px #ebebeb;
    position: relative;

  }
  &__text:after, &__textx:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &__text:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 20px;
    margin-left: -20px;
  }
  &__text:before {
    border-color: rgba(235, 235, 235, 0);
    border-top-color: #ebebeb;
    border-width: 21px;
    margin-left: -21px;
  }

  &__img{
    width: 60%;
    height: auto;
    padding: 30px 0;
    margin: 0 auto;
    img{
      margin: 0 10px;
    }
    .user-name-add{
      margin-top: 10px;
      .fontw-bold{
        margin-bottom: 5px;
      }
    }
  }

  table{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: #f4f4f4;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.1);
    tr{
      border-top: 1px solid #eee;
      &.color-white{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
      }
      th{
        padding: 5px 10px;
        &.th-stt{
          border-top-left-radius: 10px;
        }
        &.th-tai{
          border-top-right-radius: 10px;
        }
      }
      td{
        padding: 5px 10px;
      }
    }
  }
}

//HỌC online và nạp tiền
.money-learn{
  position: fixed;
  bottom: 10px;
  right: 20px;
  .item{
    text-align: center;
    border-radius: 50%;
    width: 107px;
    height: 107px;
    background:  linear-gradient(to bottom, #97dc31, #53ab23);
    box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.1);
    padding: 33px 10px;
    margin-top: 20px;
    a{
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

//BOOK DETAIL
.book-detail{
  position: relative;
  &--imgab{
    z-index: 0;
    position: absolute;
    &.img1{
      left: -200px;
      top: 195px;
    }
    &.img2{
      right: -200px;
      top: 120px;
    }
    &.img3{
      left: -200px;
      top: 10px;
    }
    &.img4{
      right: -200px;
      top: 10px;
    }

  }

  &--tittle{
    margin: 25px 0;
  }
  &--content{
    z-index: 3;
    width: 100%;
    height: 515px;
    border-radius: 10px;
    box-shadow: 0px 15px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #eeeeee;
    margin-bottom: 35px;
    padding: 30px;
    background-color: #fff;
    position: relative;
  }
  &__img{
    width: 45%;
    float: left;
  }
  &__left{
    float: left;
    width: 80px;
  }
  &__border{
    margin-bottom: 10px;
    border: 1px solid #ccc;
    width: 80px;
    height: 80px;
    padding: 2px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__right{
    float: left;
    width: 80%;
    text-align: center;
  }
  &__text{
    height: 100%;
    border-left: 2px solid #f9f9f9;
    float: left;
    width: 55%;
  }
  &__name{
    border-bottom: 2px solid #f9f9f9;
    padding:0 25px 15px 25px;
    .name-book{
      font-weight: 700;
      font-size: 18px;
    }
    a{
      margin-left: 7px;
      color: $color-blue;
      text-decoration: underline;
    }
  }
  &__price{
    border-bottom: 2px solid #f9f9f9;
    padding: 25px;
    .fontw-bold{
      font-size: 18px;
      color: #e55630;
    }
    p{
      color: #c0c0c0;
    }
  }
  &__number{
    .border-buy{
      display: inline-block;
      border: 1px solid #ccc;
      width: 115px;
      height: 35px;
      .btn{
        padding: 7px 13px;
        background-color: transparent;
        outline: none;
        border: 0;
      }
      span{
        padding: 0 10px;
      }
    }
    .btn-buybook{
      background-image: linear-gradient(to bottom, #fef7c9, #ffe554);
      outline: none;
      border-radius: 10px;
      border: 1px solid #f6ca32;
      padding:10px 80px;
      margin-left: 50px;
    }
  }
  &__textcont{
    padding: 25px 10px 25px 25px;
  }
  &--social{
    position: absolute;
    top: 0;
    left: -63px;
    width: 60px;
    height: auto;
    .like{
      text-align: center;
      border: 1px solid #cee3f0;
      border-radius: 3px;
      font-size: 13px;
      padding: 3px 0;
      margin-bottom: 10px;
      cursor: pointer;
      &.twitter-like{
        background-color: #d9e8f0;
        color: #2298ca;
      }
      &.facebook-like{
        color: #3b5998;
        background-color: #eceef5;
      }
      &.google-like{
        background: #e8e8e8;
        color: #166aee;
        font-weight: 700;
      }
    }
    .number {
      font-size: 13px;
      border-radius: 5px;
      padding: 5px 0;
      text-align: center;
      margin-bottom: 5px;
      position: relative;
      background: #fff;
      border: 1px solid #cee3f0;
    }
    .number:after, .number:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .number:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #fff;
      border-width: 5px;
      margin-left: -5px;
    }
    .number:before {
      border-color: rgba(206, 227, 240, 0);
      border-top-color: #cee3f0;
      border-width: 6px;
      margin-left: -6px;
    }
  }
}

//BOOK LIST
.hbook-list{
  .img1{

  }
  .img2{

  }
  .img3{
    top: 600px;
  }
  .img4{
    top: 600px;
  }
  &--tittle{
    width: auto;
    float: left;
  }
  &--filter{
    margin: 25px 0;
    float: right;
    text-align: right;
    span{
      padding: 0 5px 0 10px;
      cursor: pointer;
      &.active{
        color: $color-blue;
        font-weight: 700;
      }
    }
    //position: absolute;
    //top: 0;
    //right: 0;
    p{
      width: auto;
      display: inline-block;
    }
  }
}
.book-list{
  margin-bottom: 25px;
  &--pagination{
    width: 100%;
    text-align: center;
    ul{
      li{
        a{
          margin: 0 3px;
        }
      }
    }
  }
}

//CART
.cart-content{
  position: relative;
  &--left{
    padding: 25px 25px 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 15px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #eeeeee;
    .hbook__img{
      width: 30%;
      border-radius: 0;
      float: left;
      margin-right: 20px;
    }
  }
  &--text{
    .book-detail__name{
      border: 0;
      padding-bottom: 10px;
    }
    .book-detail__price{
      padding: 10px;
      padding-bottom: 20px;
    }
    .book-detail__number{
      max-width: 150px;
      position: absolute;
      top: 80px;
      right: 60px;
      i.fa-window-close{
        margin-left: 15px;
        color: #e55530;
        cursor: pointer;
      }
    }
  }
  &--right{
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 15px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #eeeeee;
    .float-right{
      color: red;
    }
    p{
      margin-bottom: 15px;
    }
    .btn-buybook{
      width: 80%;
      background-image: linear-gradient(to bottom, #fef7c9, #ffe554);
      outline: none;
      border-radius: 10px;
      border: 1px solid #f6ca32;
      padding:10px ;
    }
  }
}

// NEW DETAIL
.news-detail{
  position: relative;
  &--content{
    padding: 15px 25px 40px;
    @include box-sha;
    margin-bottom: 30px;
    h6{
      font-size: 20px;
      font-weight: bold;
    }
    p{
      //font-size: 13px;
    }
  }
  &__tag{
    margin: 25px 0 30px;
    div{
      display: inline-block;
    }
    .item{
      background-color: #ebebeb;
      padding: 4px 6px;
      color: #959595;
      font-size: 13px;
    }
  }
  &--semi{
    @include box-sha;
    padding:10px 10px 20px;
    h6{
      font-size: 16px;
      text-align: center;
    }
  }
  &__img{
    float: left;
    width: 47%;
    margin-right: 3%;
    img{
      width: 100%;
      height: auto;
    }

  }
  &__ctnews{
    width: 50%;
    float: left;
    .fontw-nor{
      color: #e55630;
      margin: 5px 0 10px;
      font-weight: 500;
      font-size: 16px;
    }
  }
  &--list{
    position: relative;
    @include box-sha;
    padding: 20px;
    input[type="search"]{
      width: 100%;
      border-radius: 20px;
      font-size: 13px;
      height: 32px;
    }
    .btn-search{
      position: absolute;
      right: 20px;
      top: 20px;
      background: none;
      border: none;
      outline: none !important;
      color: #c0c0c0;
      border-radius: 45%;
    }
  }
  &__titlist{
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
  }
  &__item{
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
    color: $color-blue;
    font-weight: 500;
    &::before{
      font-weight: bold;
      content: "•";
      font-size: 15px;
    }
    &.color-red{
      color: $color-orange;
    }
    &:last-child{
      border: 0;
    }
  }
  &__secon{

  }
  &__itemsecon{
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
    &.color-red{
      color: $color-orange;
    }
    &:last-child{
      border: 0;
    }
  }
}


//COURSE DETAIL
.course-detail{
  &--main{
    padding: 20px;
    @include box-sha;
    margin-bottom: 30px;
    h6{
      font-size: 18px;
    }
  }
  &--contentvideo{
    width: 100%;
  }
  &--video{
    width: 100%;
    padding: 0 10px;
    video{
      width: 100%;
      height: auto;
    }
  }
  &--ul{

  }
  &--li{
    border: 1px solid #ccc;
    display: list-item;
    border-radius: 10px;
    list-style: none;
    margin: 15px 0;
    position: relative;
    &.active{
      .course-detail--subul{
        display: block;
      }
      .course-detail__ptittle{
        background: $color-blue;
        color: #fff;
        .fa-chevron-down{
          display: none;
        }
        .fa-chevron-up{
          display: inline-block;
        }
      }
    }
    .course-detail__ptittle{
      background-color: #e3e3e3;
      border-radius: 10px;
      padding: 10px 15px;
      font-weight: bold;
      i{
        position: absolute;
        right: 15px;
        top: 12px;
      }
      .fa-chevron-up{
        display: none;
      }
    }
  }
  &--subul{
    padding: 0 15px;
    display: none;
    li{
      display: list-item;
      list-style: none;
      margin-top: 10px;
      .float-left{
        margin-left: 20px;
      }
      .clearfix{
        border-bottom: 1px solid #ddd;
        margin-left: 20px;

      }
      i{
        margin-right: 5px;
        color: #54a121;
        &.fa-play-circle{
          color: $color-blue;
        }
      }
      &:last-child{
        .clearfix{
          border: 0;
        }
      }
      p.fontw-bold{
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  &--book-semi{
    position: relative;
  }
  &__tittle{
    text-align: center;
    .text-tittle{
      width: 50%;
      margin: 0 auto;
      .border-bottom{
        font-weight: 700;
        float: left;
        border-bottom: 1px solid #ccc;
        padding: 0 0 5px 0;
        margin: 0 20px 15px;
        color: #cbcbcb;
        &.active{
          color: #000;
        }
      }
    }

  }

  &--buycourse{
    @include box-sha;
    padding: 20px;
    margin-right: -15px;
    .color-green{
      color: #54a121;
      i{
        margin-right: 3px;
      }
      .float-left{
        font-weight: 500;
      }
    }
    .price-course{
      margin-bottom: 5px;
      .fontw-bold{
        font-size: 18px;
        color: $color-orange;
      }

    }
    .text-decoline{
      text-align: center;
      text-decoration: line-through;
      //font-weight: 400;
      color: #c0c0c0;
    }
    .btn-regis{
      background-image: linear-gradient(to bottom, #fef7c9, #ffe554);
      width: 100%;
      outline: none !important;
      border-radius: 10px;
      border: 1px solid #f6ca32;
      padding:10px ;
      font-weight: 700;
      margin-top: 10px;
    }
    a{
      display: block;
      text-align: center;
      margin: 15px 0 20px;
      font-weight: 500;
      color: $color-blue;
      cursor: pointer;
    }
    .btn-buybycode{
      background-image: linear-gradient(to bottom, #f47b5c, #e86744);
      width: 100%;
      outline: none !important;
      border-radius: 10px;
      border: 1px solid #cb5233;
      padding:6px ;
      font-weight: 700;
      color: #fff;
      p{
        margin-bottom: 5px;
      }
    }
  }

  &--teacher{
    margin-right: -15px;
    margin-top: 20px;
    padding: 20px;
    @include box-sha;
    .img-teacher{
      max-width: 90px;
      max-height: 90px;
      img{
        width: 100%;
        height: auto;
      }
    }
    .text-teacher{
      margin-left: 10px;
      padding-top: 20px;
      p{
        margin-bottom: 5px;
      }
      a{
        font-weight: 500;
        color: $color-blue;
        text-decoration: underline;
      }
    }
  }

  &--semi{
    margin-right: -15px;
    margin-top: 20px;
    padding: 15px;
    @include box-sha;
    h6{
      text-align: center;
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 15px;
    }
    ul{
      list-style: none;
      li{
        border-bottom: 1px solid #ccc;
        display: list-item;
        padding-bottom: 15px;
        margin-bottom: 15px;
        &:last-child{
          border: 0;
          margin-bottom: 0;
        }
        .img-coursesemi{
          max-width: 80px;
          max-height: 80px;
          img{
            width: 100%;
            height: auto;
          }
        }
        .text-coursesemi{
          margin-left: 10px;
          max-width: 238px;
          p{
            margin-bottom: 0px;
          }
          a{
            display: block;
            font-weight: 500;
            color: $color-blue;
            text-decoration: underline;
          }
          .color-orange{
            font-weight: 700;
            margin-top: 10px;
          }
        }
      }
    }
  }

}

//COUSE LIST
.course-list{
  &--select{
    padding: 10px 0 10px 10px;
    border-radius: 8px;
    width: 550px;
    height: 40px;
    border: 1px solid #ccc;
    .item{
      width: 32%;
      padding: 0 5px;
      background-color: transparent;
      border: 0;
      border-left: 1px solid #ccc;
      outline: none;
      &:first-child{
        border-left: 0;
      }
    }
  }
  &__class{

  }
  &--filter{
    padding-top: 35px;
  }
  &--item{
    margin-bottom: 30px;
  }

}
